.container {
  margin: auto;
  height: 500px;
  background: #ffa900;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container p {
  font-size: 30px;
}
